@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .sl-container {
    @apply max-w-[1380px] w-full px-3 mx-auto;
  }
}

@layer base {
  body {
    @apply bg-slate-950 text-white text-sm;
  }

  section {
    @apply relative;
  }

  a,
  button {
    @apply inline-block cursor-pointer;
  }

  img {
    @apply w-full;
  }

  input,
  select,
  textarea {
    @apply outline-none bg-transparent;
  }

  a,
  button,
  span,
  p,
  i,
  input,
  select,
  textarea,
  li,
  img,
  svg,
  label,
  svg path,
  tr,
  td,
  *::after,
  *::before,
  .transition-3,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply transition-all duration-300 ease-out;
  }
}

@layer utilities {
  .sl-submenu-hover > ul {
    transition: all 0.3s ease-out 0s;
    visibility: hidden;
    opacity: 0;
    transform-origin: top;
    transform: perspective(300px) rotateX(-18deg);
  }
  .sl-submenu-hover:hover > ul {
    visibility: visible;
    opacity: 1;
    transform: perspective(300px) rotateX(0deg);
  }
}
